<main role="main" class="container py-5">
  <h1>Boostwatch</h1>
  <div>
    <h2>Accordions<a class="doc-link ml-2" routerLink="/documentation/accordion" title="go to accordion documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-accordion></demo-accordion>

    <h2>Alert<a class="doc-link ml-2" routerLink="/documentation/alert" title="go to alert documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-alert></demo-alert>

    <h2>Buttons<a class="doc-link ml-2" routerLink="/documentation/buttons" title="go to buttons documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-buttons></demo-buttons>

    <div class="row">
      <div class="col-md-7">
        <h2>Carousel<a class="doc-link ml-2" routerLink="/documentation/carousel" title="go to carousel documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
        <demo-carousel></demo-carousel>
      </div>
    </div>

    <h2>Collapse<a class="doc-link ml-2" routerLink="/documentation/collapse" title="go to collpase documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-collapse></demo-collapse>

    <h2>Datepicker<a class="doc-link ml-2" routerLink="/documentation/datepicker" title="go to datepicker documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-datepicker></demo-datepicker>

    <h2>Dropdown<a class="doc-link ml-2" routerLink="/documentation/dropdown" title="go to dropdown documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-dropdown></demo-dropdown>

    <h2>Modal<a class="doc-link ml-2" routerLink="/documentation/modal" title="go to modal documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-modal></demo-modal>
    <ng-template ngbModalContainer></ng-template>
    
    <h2>Navbar<a class="doc-link ml-2" routerLink="/documentation/navbar" title="go to navbar documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-navbar></demo-navbar>

    <h2>Pagination<a class="doc-link ml-2" routerLink="/documentation/pagination" title="go to pagination documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-pagination></demo-pagination>

    <h2>Popover<a class="doc-link ml-2" routerLink="/documentation/popover" title="go to popover documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-popover></demo-popover>

    <h2>Progress Bar<a class="doc-link ml-2" routerLink="/documentation/progress" title="go to progress documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-progress-bar></demo-progress-bar>

    <h2>Rating<a class="doc-link ml-2" routerLink="/documentation/rating" title="go to rating documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-rating></demo-rating>

    <h2>Table<a class="doc-link ml-2" routerLink="/documentation/table" title="go to table documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-table></demo-table>

    <h2>Tabs<a class="doc-link ml-2" routerLink="/documentation/tabs" title="go to tabs documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-tabs></demo-tabs>

    <h2>Timepicker<a class="doc-link ml-2" routerLink="/documentation/timepicker" title="go to orange timepicker documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-timepicker></demo-timepicker>

    <h2>Toast<a class="doc-link ml-2" routerLink="/documentation/toast" title="go to carousel documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-toast></demo-toast>

    <h2>Tooltip<a class="doc-link ml-2" routerLink="/documentation/tooltip" title="go to tooltip documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-tooltip></demo-tooltip>

    <h2>Typeahead<a class="doc-link ml-2" routerLink="/documentation/typeahead" title="go to typeahead documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-typeahead></demo-typeahead>
  </div>
</main>
