<main role="main" class="container py-5">
  <h1>Boostwatch</h1>
  <div>
    <h2>Accordions<a class="doc-link ml-2" routerLink="/documentation/accordion" title="go to accordion documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-accordion></demo-accordion>

    <h2>Alert<a class="doc-link ml-2" routerLink="/documentation/alert" title="go to alert documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-alert></demo-alert>

    <h2>Collapse<a class="doc-link ml-2" routerLink="/documentation/collapse" title="go to collpase documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-collapse></demo-collapse>

    <h2>Dropdown<a class="doc-link ml-2" routerLink="/documentation/dropdown" title="go to dropdown documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-dropdown></demo-dropdown>

    <h2>Modal<a class="doc-link ml-2" routerLink="/documentation/modal" title="go to modal documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-modal></demo-modal>
    <ng-template ngbModalContainer></ng-template>

    <h2>Pagination<a class="doc-link ml-2" routerLink="/documentation/pagination" title="go to pagination documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-pagination></demo-pagination>

    <h2>Popover<a class="doc-link ml-2" routerLink="/documentation/popover" title="go to popover documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-popover></demo-popover>

    <h2>Progress Bar<a class="doc-link ml-2" routerLink="/documentation/progress" title="go to progress documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-progress-bar></demo-progress-bar>

    <div class="row">
      <div class="col-md-7">
        <h2>Swiper<a class="doc-link ml-2" routerLink="/documentation/swiper" title="go to swiper documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
        <demo-swiper></demo-swiper>
      </div>
    </div>

    <h2>Orange Switch<a class="doc-link ml-2" routerLink="/documentation/o-switch" title="go to orange switch documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-o-switch></demo-o-switch>

    <h2>Tabs<a class="doc-link ml-2" routerLink="/documentation/tabs" title="go to tabs documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-tabs></demo-tabs>
    <h3>Without borders</h3>
    <style>:host ::ng-deep #no_borders .tab-content{border:0}</style>
    <demo-tabs id="no_borders"></demo-tabs>

    <h2>Orange Toggle<a class="doc-link ml-2" routerLink="/documentation/o-toggle" title="go to orange toggle documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-o-toggle></demo-o-toggle>

    <h2>Tooltip<a class="doc-link ml-2" routerLink="/documentation/tooltip" title="go to tooltip documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-tooltip></demo-tooltip>

    <h2>Toast<a class="doc-link ml-2" routerLink="/documentation/toast" title="go to carousel documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
    <demo-toast></demo-toast>
  </div>
</main>
