/*
  @todo Remove this when Boosted handles this
  @link https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap/issues/317
*/
.pagination {
    flex-wrap: wrap;
}
  
// Alert
/*
@todo Find a way to remove this from markup
@link https://github.com/Orange-OpenSource/Orange-Boosted-Angular/issues/167
*/
.close > [aria-hidden="true"]  {
display: none;
}

// Datepicker
ngb-datepicker{
    border-radius: 0 !important;
    .ngb-dp-header {
        border-radius: 0;
    }
    .ngb-dp-weekday {
      color: black;
    }
}

//Carousel
.carousel-control-next-icon::before {
  display: none;
}
.carousel-control-prev-icon::before {
  display: none;
}