<nav role="navigation" aria-labelledby="breadcrumb-intro">
    <p class="sr-only" id="breadcrumb-intro">You are here:</p>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="location">Home</li>
    </ol>
</nav>
  
<nav role="navigation" aria-labelledby="breadcrumb-intro-2">
    <p class="sr-only" id="breadcrumb-intro-2">You are here:</p>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="location">Library</li>
    </ol>
</nav>
  
<nav role="navigation" aria-labelledby="breadcrumb-intro-3">
    <p class="sr-only" id="breadcrumb-intro-3">You are here:</p>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="location">Data</li>
    </ol>
</nav>
