<ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
        <h3>My slide {{i + 1}} title</h3>
      </div>
      <a href="https://dummyimage.com/800x600/cccccc/000000&text+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img [src]="img" alt="My image {{i + 1}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
  <button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">{{paused ? 'Cycle' : 'Pause' }}</button>