<ngb-carousel #carousel (focus)="onFocus()" (blur)="onBlur()">
    <ng-template ngbSlide>
        <img src="https://dummyimage.com/600x400/cccccc/000000" alt="Random first slide">
        <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="https://dummyimage.com/600x400/cccccc/000000" alt="Random second slide">
        <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="https://dummyimage.com/600x400/cccccc/000000" alt="Random third slide">
        <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="https://dummyimage.com/600x400/cccccc/000000" alt="Random fourth slide">
        <div class="carousel-caption">
        <h3>Fourth slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>
<div class="btn-group" role="group" aria-label="Carousel toggle controls">
    <button type="button" (click)="this.changeState()" id="changeState" class="btn btn-outline-dark btn-sm" [ngClass] = "!this.pause ? 'icon-Pause':'icon-Play'" [attr.aria-label]="!this.pause ? 'set Pause':'set Play'"></button>
</div>