<ngb-datepicker #dp1 [(ngModel)]="model1" (navigate)="date = $event.next"></ngb-datepicker>
<pre class="mt-2">Model: {{ model1 | json }}</pre>

<hr/>
<div class="d-grid gap-2 col-4">
  <div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd"
           name="dp" [(ngModel)]="model2" ngbDatepicker #d="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-secondary calendar" (click)="d.toggle()" type="button">your icon</button>
    </div>
  </div>
</div>

<pre class="mt-2">Model: {{ model2 | json }}</pre>

<hr/>

<ngb-datepicker #dp3 (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"></ngb-datepicker>
<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
<pre class="mt-2">From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>