<ngb-datepicker #dp1 [(ngModel)]="model1" (navigate)="date = $event.next"></ngb-datepicker>
<pre class="mt-2">Model: {{ model1 | json }}</pre>

<hr/>

<form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary icon-calendar-day" (click)="d.toggle()" type="button" id="button-toggle" aria-haspopup="true">
              <span class="sr-only">choose date</span>
            </button>
        </div>
        <input class="form-control calendar-input" placeholder="Une date (jj/mm/aaa)"
               name="dp2" [(ngModel)]="model2" ngbDatepicker #d="ngbDatepicker" attr.aria-label='Calendar'>
      </div>
    </div>
  </form>
  <pre class="mt-2">Model: {{ model2 | json }}</pre>

  <hr/>

<ngb-datepicker #dp3 (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"></ngb-datepicker>
<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
<pre class="mt-2">From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>