<nav role="navigation" class="o-nav-local navbar-light">
    <ul class="container nav">
        <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
    </ul>
</nav>

<hr>

<h6>Dark background</h6>
<div class="bg-dark pt-3 px-3 pb-1">
    <nav role="navigation" class="o-nav-local navbar-dark">
        <ul class="container nav">
            <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
        </ul>
    </nav>
</div>
