<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xxl">
    <a class="navbar-brand" href="#">
      <img src="assets/img/orange_logo.svg" width="50" height="50" role="img" alt="Boosted" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" (click)="collapseDemo.toggle()" [attr.aria-expanded]="!isDemoCollapsed" aria-label="Toggle navigation" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #collapseDemo="ngbCollapse" [(ngbCollapse)]="isDemoCollapsed">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>Dropdown</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>Something else here</button>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  