<lib-o-navbar homeRoute="/start" breakpoint="sm" containerClass="container-fluid" brandPath="assets/img/orange_logo.svg" brandLabel="Back to home page" isCollapsed={{isCollapsed}}>
     <li o-nav-link route="/documentation" query="{id: 'my_id'}" (click)="isCollapsed = !isCollapsed">Getting started</li>

     <li o-nav-link route="/start" title="Shop">
        <span class="sr-only">basket</span>
        <span class="icon-buy" aria-hidden="true"></span>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownBasic1" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contribute</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownBasic1">
            <li><a class="dropdown-item" href="#">Github</a></li>
            <li><a class="dropdown-item" href="#">About Markdown</a></li>
        </ul>
    </li>
    <li o-nav-menu idForLabelledby="dropdownMenu1" menuTitle="Toggle dropdown">
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
        </div>
    </li>

    <li class="nav-item"><a href="http://orange.com" class="nav-link">External link</a></li>
</lib-o-navbar>
