<div class="container">
    <div class="form-group row">
        <label for="checkbox1" class="col-form-label col-md-3 col-8">Default</label>
        <lib-o-switch inputId="checkbox1"></lib-o-switch>
    </div>
    <div class="form-group row">
        <label for="checkbox2" class="col-form-label col-md-3 col-8">Toggled on init</label>
        <lib-o-switch inputId="checkbox2" toggled="true"></lib-o-switch>
    </div>
    <div class="form-group row">
        <label for="checkbox3" class="col-form-label col-md-3 col-8">Rounded success variant</label>
        <lib-o-switch inputId="checkbox3" toggled="true" rounded="true" successColor="true" onLabel="On" offLabel="Off" customWidth="76px"></lib-o-switch>
    </div>
</div>