<!-- no longer supported, available under version 5.2.0 -->
<!-- 
<p>
    Here is an example of our lib Toast.
    In this demo, by clicking one of those button below, a toast is shown. It will hide itself after a 5 seconds delay unless you simply
    hover it with your mouse.
</p>
<button class="btn btn-success margin" (click)="showSuccess()">Success toast</button>
<button class="btn btn-primary margin" (click)="showStandard()">Standard toast</button>
<button class="btn btn-danger margin" (click)="showDanger()">Danger toast</button>

<lib-o-toast aria-live="polite" aria-atomic="true"></lib-o-toast> 
-->