<div class="bd-footer py-3 py-md-4 bg-dark">
    <div class="container py-1">
        <div class="row">
            <h4 class="col-4">Site map & informations</h4>
            <div class="col-8">
                <ul>
                <a href="/" class="btn btn-icon btn-social btn-twitter me-2"><span class="visually-hidden">Twitter</span></a>
                <a href="/" class="btn btn-icon btn-social btn-facebook me-2"><span class="visually-hidden">Facebook</span></a>
                <a href="/" class="btn btn-icon btn-social btn-instagram me-2"><span class="visually-hidden">Instagram</span></a>
                <a href="/" class="btn btn-icon btn-social btn-whatsapp me-2"><span class="visually-hidden">Whatsapp</span></a>
                <a href="/" class="btn btn-icon btn-social btn-linkedin me-2"><span class="visually-hidden">LinkedIn</span></a>
                <a href="/" class="btn btn-icon btn-social btn-youtube me-2"><span class="visually-hidden">YouTube</span></a>
                <a href="/" class="btn btn-icon btn-social btn-snapchat me-2"><span class="visually-hidden">Snapchat</span></a>
                <a href="/" class="btn btn-icon btn-social btn-pinterest me-2"><span class="visually-hidden">Pinterest</span></a>
                <a href="/" class="btn btn-icon btn-social btn-mail me-2"><span class="visually-hidden">Mail</span></a>
                </ul>
            </div>
        </div>
        <div class="row"> 
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h5>Discover</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Unde omnis istea</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Natus error sit</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Voluptatem</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h5>Shop</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Natus error sit</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Unde omnis istea</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Voluptatem</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Doloremque</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h5>Services</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Doloremque</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Totam rem aperiam</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h5>Support</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Doloremque</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Unde omnis istea</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Voluptatem</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Totam rem aperiam</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row mb-0">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Locate a store</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Coverage map</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Business</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>