<div>
    <button type="button" class="btn btn-secondary me-2" ngbPopover="Now click to open me !" [autoClose]="false" triggers="manual" #p="ngbPopover" (click)="p.open()" popoverTitle="Popover on top">
        Popover on top
    </button>
    <button type="button" class="btn btn-secondary me-2" (click)="p.close()">click to close me !</button>
</div>
<div class="mt-3">
    <button type="button" class="btn btn-secondary me-2" placement="bottom" ngbPopover="You can't close me by clicking outside, sorry." popoverTitle="Popover on bottom">
        Popover on bottom
    </button>
        
    <button type="button" class="btn btn-secondary me-2" placement="start" [autoClose]="'inside'" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
        Popover on left
    </button>
        
    <button type="button" class="btn btn-secondary me-2" placement="end" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
        Popover on right
    </button>
</div>

