<nav id="navbar-example2" class="navbar px-3">
  <a class="navbar-brand" href="#">
    <img src="assets/img/orange_logo.svg" width="50" height="50" role="img" alt="Boosted" loading="lazy">
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" (click)="onClick('scrollspyHeading1')">First</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onClick('scrollspyHeading2')">Second</a>
    </li>
    <li ngbDropdown class="nav-item">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>Dropdown</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="onClick('scrollspyHeading5')">Third</button>
        <button ngbDropdownItem (click)="onClick('scrollspyHeading5')">Fourth</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem (click)="onClick('scrollspyHeading5')">Fifth</button>
      </div>
    </li>
  </ul>
</nav>
<div tabindex="0">
  <h4 id="scrollspyHeading1">First heading</h4>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, 
    the appropriate navigation link is highlighted. It's repeated throughout the component example. 
    We keep adding some more example copy here to emphasize the scrolling and highlighting.
  </p>
  <h4 id="scrollspyHeading2">Second heading</h4>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, 
    the appropriate navigation link is highlighted. It's repeated throughout the component example.
     We keep adding some more example copy here to emphasize the scrolling and highlighting.
  </p>
  <h4 id="scrollspyHeading3">Third heading</h4>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. 
    It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
  </p>
  <h4 id="scrollspyHeading4">Fourth heading</h4>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, 
    the appropriate navigation link is highlighted. It's repeated throughout the component example. 
    We keep adding some more example copy here to emphasize the scrolling and highlighting.
  </p>
  <h4 id="scrollspyHeading5">Fifth heading</h4>
  <p>
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. 
    It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
  </p>
</div>