<nav role="navigation" class="o-stepbar" aria-label="Checkout process">
    <p class="float-left mt-2 mr-2 font-weight-bold d-sm-none">Step</p>
    <ol>
        <li class="stepbar-item">
            <a class="stepbar-link" href="#" title="1. Sign in">Sign in</a>
        </li>
        <li class="stepbar-item current">
            <a class="stepbar-link" href="#" title="2. Review" aria-current="step">Review</a>
        </li>
        <li class="stepbar-item">
            <a class="stepbar-link" href="#" title="3. Delivery">Delivery</a>
        </li>
        <li class="stepbar-item">
            <a class="stepbar-link" href="#" title="4. Payment">Payment</a>
        </li>
        <li class="stepbar-item">
            <a class="stepbar-link" href="#" title="5. Place order">Place order</a>
        </li>
    </ol>
</nav>
