<!-- no longer supported, available under version 5.1.9 -->

<!-- 
  <lib-o-carousel-container [options]="example1SwipeOptions" [pauseButton]='true'>
  <lib-o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/800x600/cccccc/000000&text=slide+1">
  </lib-o-carousel-slide>
  <lib-o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/800x600/cccccc/000000&text=slide+2">
  </lib-o-carousel-slide>
  <lib-o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/800x600/cccccc/000000&text=slide+3">
  </lib-o-carousel-slide>
  <lib-o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/800x600/cccccc/000000&text=slide+4">
  </lib-o-carousel-slide>
  <lib-o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/800x600/cccccc/000000&text=slide+5">
  </lib-o-carousel-slide>
</lib-o-carousel-container> 
-->

