<o-carousel-container [options]="example1SwipeOptions">
  <o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/600x400/cccccc/000000&text=slide+1">
  </o-carousel-slide>
  <o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/600x400/cccccc/000000&text=slide+2">
    </o-carousel-slide>
  <o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/600x400/cccccc/000000&text=slide+3">
  </o-carousel-slide>
  <o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/600x400/cccccc/000000&text=slide+4">
  </o-carousel-slide>
  <o-carousel-slide>
    <img alt="Random first slide" src="https://dummyimage.com/600x400/cccccc/000000&text=slide+5">
  </o-carousel-slide>
</o-carousel-container>

