/* Doc Styles */
body {
    padding-top: 54px;
}

@media (min-width: 480px) {
  body {
    padding-top: 100px;
  }
}

h2 {
  margin-top: 3.75rem;
}

h3 {
  margin-top: 1.875rem;
}

pre {
  background-color: #f6f6f6 !important;
  border: .2rem solid #eee;
  padding: 1.25rem;

  code {
    color: #333 !important;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
  }
}

.navbar-nav-svg {
  width: 1.4rem;
  height: 1.4rem;
}

.doc-link {
  font-size: 1.5rem;
}

[id="component_nav"] {
  .nav-link {
    font-weight: 400;
    color: #666;

    &:hover,
    &:focus {
      color: #f16e00;
    }

    &.active {
      color: #f16e00;
      font-weight: 700;
    }
  }
}

@media (min-width: 768px) {
  [id="component_nav"] {
    border-right: 1px solid #eee;

    > * {
      position: sticky;
      top: 0;
    }
  }
}

/* @todo Remove this when Boosted handles this */
.pagination {
  flex-wrap: wrap;
}

