<main role="main">
  <div class="ng-banner my-5">
    <div class="container">
        <div class="row head">
            <div class="col-md-5 order-md-1 text-center">
              <img alt="" src="assets/img/ng-boosted_logo.svg" height="236" width="220">
            </div>
            <div class="col-md-7">
                <h1 class="my-3 display-2 font-weight-normal">Orange B<span class="text-primary">oo</span>sted with Angular</h1>
                <p class="h5 font-weight-normal">This is Ng-boosted, built with Boosted (css only), Angular and ng-bootstrap.</p>
                <p class="lead mb-4"><a class="btn btn-primary btn-lg" href="" routerLink="/start">Get started</a></p>
                <p class="text-muted mb-0">Currently v{{globals.ngBoostedVersion}}</p>
            </div>
        </div>
    </div>
  </div>
  <div class="only-in-ng bg-light py-5">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <img alt="Components examples" class="img-fluid" width="750" height="392" src="assets/img/only_in_boosted.png">
              </div>
              <div class="col-md-5 d-flex">
                  <div class="inner align-self-center">
                      <h2>Only in ng-boosted!</h2>
                      <ul class="o-square-list">
                          <li>Navbar component</li>
                          <li>Custom checkboxes</li>
                          <li>Advanced carousel with touch support</li>
                          <li>Back to top link</li>
                      </ul>
                      <a class="btn btn-secondary btn-lg" href="" routerLink="/boostwatch">Discover</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
